.TodoForm {
    background-color: #264653;
    padding: 0 20px 10px 20px;
    border-radius: 20px;
}

.TodoForm-Header_title {
    color: #e9c46a;
}

.TodoForm-Footer_cancelbtn {
    background-color: #e76f51;
    border: 0;
    width: 50%;
    height: 30px;
    border-radius: 5px 0 0 5px;
    color: white;
    cursor: pointer;
}

.TodoForm-Footer_cancelbtn:hover {
    background-color: #e73f16;
}

.TodoForm-Footer_addbtn {
    background-color: #2a9d8f;
    border: 0;
    width: 50%;
    height: 30px;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}

.TodoForm-Footer_addbtn:hover {
    background-color: #069180;
}

.TodoForm-Content_textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    background-color: #264653;
    color: white;
}