.float-btn {
  z-index: 1;
  position: fixed;
  top: 90vh;
  left: 90vw;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #264653;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.float-btn:hover {
  background-color: #2a9d8f;
}